# Sesi 1
Introduction, Data Types, and Variables
1. Introduction
2. Data types
3. Variables

## 1.1 Integers

In [1]:
print(123123123123123)

123123123123123

In [2]:
print(10)

10

In [3]:
print(type(10))

<class 'int'>

## 1.2 Floating Point

In [4]:
print(4.2)

4.2

In [5]:
print(4.)

4.0

In [6]:
print(.2)

0.2

In [7]:
print(3)

3

In [22]:
print(.4e9)

400000000.0

In [9]:
print(type(4.2))

<class 'float'>

In [15]:
print(4.2e-4)

0.00042

## 1.3 String

In [16]:
print('aida')

aida

In [18]:
print(type('aida'))

<class 'str'>

## 1.4 Boolean

In [20]:
print(True)

True

In [21]:
print(type(True))

<class 'bool'>

## Variables

In [23]:
kotak_donat = 5

In [24]:
print(kotak_donat)

5

In [25]:
kotak_donat = 7

In [26]:
print(kotak_donat)

7

In [27]:
a = b = c = 3

In [29]:
print(a, b, c)

3 3 3

## Arithmetic Operators

In [30]:
a = 4
b = 3
a-b

1

In [31]:
b / a

0.75

In [32]:
3 / 1

3.0

## Comparison Operators

In [33]:
c = 10
d = 20

## String Manipulation

In [34]:
s = 'foo'
t = 'bar'

In [35]:
s + t

'foobar'

In [36]:
s * 4

'foofoofoofoo'

In [43]:
z = 'HackTIV8'
print(z.lower())

hacktiv8

In [44]:
z.lower()

'hacktiv8'

## List

In [40]:
barangDiKamar = ['kasur', 'meja', 'laptop', 'lampu']

In [41]:
barangDiKamar

['kasur', 'meja', 'laptop', 'lampu']

In [45]:
len(barangDiKamar)

4

In [46]:
min(barangDiKamar)

'kasur'

In [47]:
max(barangDiKamar)

'meja'

In [48]:
barangDiKamar[2] = 'lemari pakaian'

In [49]:
barangDiKamar

['kasur', 'meja', 'lemari pakaian', 'lampu']

In [50]:
del barangDiKamar[-1]

In [51]:
barangDiKamar

['kasur', 'meja', 'lemari pakaian']

In [54]:
barangDiKamar[0:2] = ['laptop', 'colokan', 'bantal', 'jam']

In [55]:
barangDiKamar

['laptop', 'colokan', 'bantal', 'jam', 'lemari pakaian']

## Tuples

In [56]:
namaBulanAwal = ('januari', 'feb', 'mar')

In [57]:
namaBulanAwal[1]

'feb'

In [59]:
namaBulanAwal[2]

'mar'

## Dictionary

In [62]:
identitas = {'nama' : 'aida', 'alamat' : 'malang', 'email' : 'gmail'}

In [63]:
identitas

{'nama': 'aida', 'alamat': 'malang', 'email': 'gmail'}

In [64]:
identitas['alamat']

'malang'

In [65]:
# adding value
identitas['no hp'] = '09342437697697574'

In [66]:
identitas

{'nama': 'aida',
 'alamat': 'malang',
 'email': 'gmail',
 'no hp': '09342437697697574'}

In [68]:
# modify value
identitas['no hp'] = '1245678900'

In [69]:
identitas

{'nama': 'aida', 'alamat': 'malang', 'email': 'gmail', 'no hp': '1245678900'}

In [70]:
# delete value
del identitas['no hp']

In [71]:
identitas

{'nama': 'aida', 'alamat': 'malang', 'email': 'gmail'}

In [73]:
identitas.items()

dict_items([('nama', 'aida'), ('alamat', 'malang'), ('email', 'gmail')])

In [74]:
identitas.keys()

dict_keys(['nama', 'alamat', 'email'])

In [75]:
identitas.values()

dict_values(['aida', 'malang', 'gmail'])